@font-face{
  font-family: 'Lovelo Line Bold';
  src:url('./fonts/Lovelo Line Bold.otf');
}
body{
  overflow-x: hidden;
  overflow-y: auto;
}
#header{
  font-family: 'Lovelo Line Bold';
  left: 10%;
}
#user{
  float:right;
  margin-right:10px;
  margin-top:10px;
}
#login_dialog{
  font-family:'Cinzel Decorative', cursive;
  font-weight:bold;
}
#login_dialog button{
  font-size:0.75em;
  font-family:'Cinzel Decorative', cursive;
}
#wrapper{
  height: 100%;
  width:  100%;
  background-color: #9E3B33;/*#E9B64D;*/
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
#content_wrapper{
  width: 80%;
  left:  10%;
  margin: 0px;
  overflow: visible;
  position: relative;
  color: #E3AE57;
  border-top-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: hidden;
  border-width:5px;
}
#content{
  margin:25px;
}
#footer{
  width: 80%;
  clear: left;
  position: absolute;
  left: 10%;
}
#menu{
  list-style-type: none;
  height: 50px;
  margin: 0;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 5px;
  padding: 0;
  vertical-align:middle;
}
.menu_item{
  vertical-align:middle;
  height: inherit;
  display: table-cell;
  text-align: center;
}